* {
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
}

body {
    background-color: rgb(234, 223, 209);
}

.header {
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(234, 223, 209);
    color: rgb(26, 26, 26);
}

.header h1 {
    display: inline-block;
    font-size: 60px;
}

.header nav {
    display: flex;
    color: lightgrey;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    border: solid rgb(50, 49, 49);
    border-radius: 20px;
    text-shadow: 10px 10px 10px;
}

.nav-css {
    margin-top: auto;
    margin-bottom: auto;
}

.background-img {
    display: flex;
}

.background-img img {
    display: flex;
    width: 50%;
    margin: auto;
    border: 3.5px solid rgb(174, 151, 151);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 10px 10px 5px gray;
}

.name {
    display: flex;
    padding: 10px;
    height: 165px;
    width: 33%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(174, 151, 151);
    border-radius: 30px;
    box-shadow: 10px 10px 5px gray;
}

.name h2 {
    display: flex;
    font-size: 60px;
    margin: auto;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(26, 26, 26);
}

.bio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.box#applications {
    flex: 2 0 100%;
}

.box#applications img {
    height: 400px;
}

.box {
    flex: 1 0 50%;
    position: relative;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    color: rgb(26, 26, 26);
}

.box p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    color: rgb(26, 26, 26);
}

.box img {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    border: 3.5px solid rgb(174, 151, 151);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 10px 10px 5px gray;
}

.footer {
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

.footer h5 {
    width: 15%;
    margin: auto;
    font-size: 25px;
    background-color: rgb(174, 151, 151);
    border-radius: 30px;
    color: rgb(26, 26, 26);
}

.email {
    display: flex;
    margin: auto;
    justify-content: center;
}

@media screen and (max-width: 1839px) {
    .bio {
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
}